In [1]:
import numpy as np
import pandas as pd

In [2]:
df_user = pd.read_csv('./user_profile.csv')
df_user.dropna(inplace=True)

In [3]:
df_item = pd.read_csv('./ad_feature.csv')
df_item.dropna(inplace=True)

In [4]:
df_click = pd.read_csv('./raw_sample.csv')
df_click.dropna(inplace=True)

In [5]:
df_user

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
1,523,5,2,2,2,1.0,3,1,2.0
5,3644,49,6,2,6,2.0,3,0,2.0
6,5777,44,5,2,5,2.0,3,0,2.0
8,6355,2,1,2,1,1.0,3,0,4.0
9,6823,43,5,2,5,2.0,3,0,1.0
...,...,...,...,...,...,...,...,...,...
1061754,1134431,5,2,2,2,2.0,3,1,2.0
1061759,1136629,78,10,1,4,1.0,3,0,4.0
1061760,1137304,19,3,2,3,2.0,3,0,2.0
1061765,1138902,67,9,1,3,2.0,3,0,4.0
1061767,1139870,8,2,2,2,2.0,3,0,3.0

In [6]:
df_item

        adgroup_id  cate_id  campaign_id  customer     brand   price
0            63133     6406        83237         1   95471.0  170.00
1           313401     6406        83237         1   87331.0  199.00
2           248909      392        83237         1   32233.0   38.00
3           208458      392        83237         1  174374.0  139.00
4           110847     7211       135256         2  145952.0   32.99
...            ...      ...          ...       ...       ...     ...
846806      824255     4526       380022    255868  389713.0  268.00
846807      790170     4280       379736    255872  322171.0   68.00
846808      845286     6261       379736    255872  322171.0   88.00
846809      824732     4520       379736    255872  322171.0   68.00
846810      845337    11156       379603    255874   74120.0  279.00

[600481 rows x 6 columns]

In [8]:
df_click

            user  time_stamp  adgroup_id          pid  nonclk  clk
0         581738  1494137644           1  430548_1007       1    0
1         449818  1494638778           3  430548_1007       1    0
2         914836  1494650879           4  430548_1007       1    0
3         914836  1494651029           5  430548_1007       1    0
4         399907  1494302958           8  430548_1007       1    0
...          ...         ...         ...          ...     ...  ...
26557956    6834  1494139949      846808  430548_1007       1    0
26557957   16815  1494328475      846808  430548_1007       1    0
26557958  736609  1494597871      846809  430548_1007       1    0
26557959  735781  1494684550      846809  430539_1007       1    0
26557960  735781  1494677729      846810  430539_1007       1    0

[26557961 rows x 6 columns]

In [10]:
# merge df_user and df_click with no common columns
df_user['tmp'] = 1
df_click['tmp'] = 1

merge1 = pd.merge(df_user, df_click, on=['tmp'])
merge1 = pd.drop('tmp', axis=1)

MemoryError: Unable to allocate 76.5 TiB for an array with shape (10515146614652,) and data type int64

In [ ]:
merge1